<!DOCTYPE html>
{% load static %}
<style>
    td {
    border: 1px solid #000;
}

tr td {
    width: 1%;
    white-space: nowrap;
}

</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Title</title>
</head>
<body>
<h1>
    Weather for Dallas, TX
</h1>

<table style="max-width: 100%;" class="table-sm ">
    <tr>
        <td>
            Current Conditions:
        </td>
        <td>
            {{main}}
        </td>
        <td>
            <a href="{% url 'detail' %}">Detail</a>
        </td>
        <tr>
            <td>
                Day
            </td>
            <td>
                High Temp
            </td>
            <td>
                Low Temp
            </td>
            <td>
                Conditions
            </td>
            <td>
                Probability of Precip
            </td>
        </tr>
        {% for key, values in min.items %}
        <tr>
            <td>
                {{key}}
            </td>
            {% for r in values %}
            <td>
                {{r}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tr>

</table>

</body>
</html>